<li class="task">
  <div class="task__status-wrapper">
    <input type="checkbox" class="task__status" />
  </div>

  <label class="task__title">Title</label>
  <p class="task__due-date">00/00/0000</p>
  <p class="task__priority">Low</p>

  <button
    popovertarget="task-actions-menu"
    aria-label="Show task actions menu"
    class="task__button"
  >
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon">
      <!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE -->
      <path
        fill="currentColor"
        d="M6 14q-.825 0-1.412-.587T4 12t.588-1.412T6 10t1.413.588T8 12t-.587 1.413T6 14m6 0q-.825 0-1.412-.587T10 12t.588-1.412T12 10t1.413.588T14 12t-.587 1.413T12 14m6 0q-.825 0-1.412-.587T16 12t.588-1.412T18 10t1.413.588T20 12t-.587 1.413T18 14"
      />
    </svg>
  </button>
</li>
